/* Deepl-translation-block-styling  */

.block-ckeditor5-deepl {
  position: fixed;
  background: white;
  padding: 15px;
  z-index: 20;
  border: 1px solid #eaeaea;
  overflow: hidden;
  overflow-y: scroll;
  bottom: 0;
  right: 0;
  /*max-width:250px;*/
  -webkit-box-shadow: -9px 13px 12px -6px #9E9E9E;
  box-shadow: -9px 13px 12px -6px #9E9E9E;
}
.block-ckeditor5-deepl.hidden {
  display:none;
}
.block-ckeditor5-deepl h2{
  margin:0 0 10px;
  font-size:90%;
}
.ckeditor5-deepl-deepl-tranlation .js-form-type-textarea {
  margin:0;
}
.ckeditor5-deepl-deepl-tranlation .form-type--select {
  margin-top:5px;
  display:inline-block;
}
.ckeditor5-deepl-deepl-tranlation  .form-item--formality {
  max-width:50%;
}
.deepl_toggle_button {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 65px;
  background: white;
  border-radius: 20px;
  height: 35px;
  width: 35px;
  background-size: contain;
  z-index: 99;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  /* TODO replace custom with contrib below  */
  background-image: url(../icons/deepl.svg);
}
