/* Ckeditor-deepl-form-styling  */
.ck-deepl-form .ck.ck-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size:75%;
}
.ck-deepl-form .ck.ck-dropdown {
  padding-left: 2px;
  padding-right: 5px;
}
.ck-deepl-form .ck.ck-dropdown__panel {
  max-height: 180px;
  overflow:hidden;
  overflow-y: scroll;
}
.ck-deepl-form .ck.ck-button.ck-button-save {
  display:block;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.ck-deepl-form .ck.ck-button.ck-button-cancel {
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
}

